body {
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    color: #46443a;
    margin: 0;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

header {
    background: linear-gradient(to bottom  , #000000, #121212);
    font-family: 'Lora', Georgia, times, serif;
    font-size: x-large;
    color: #EFF6EE;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

header p {
    position: absolute;
    bottom: 30px;
    /* afstand fra bunden */
    left: 50%;
}

#main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;

    background-color: #eeebe7;
    max-width: 100%;
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
}

.infobokse {
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color:#c5bbab ;
}

#profil {
    grid-area: 1 / 5 / 4 / 11;

}

#cv {
    grid-area: 10 / 4 / 12 / 10;
}

#portfolie {
    grid-area: 7 / 8 / 9 / 13;
}

#uddannelse {
    grid-area: 7 / 1 / 9 / 6;
}

#billede {
    grid-area: 2 / 2 / 4 / 4;
    background-image: url(mig.png);
    background-size: cover;
    background-position: center;
}

#billedeafmig {
    width: 170px;
}


hr {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: #000000;
}


.div7, .div12, .div13, .div14, .div15, .div16, .div17 {
  background-color: #a69a88;
}

.div6, .div8, .div9, .div10, .div11 {
  background-color: #9f9b86;
}

.div6 { grid-area: 5 / 3 / 7 / 6; }
.div7 { grid-area: 1 / 1 / 2 / 3; }
.div8 { grid-area: 11 / 1 / 13 / 3; }
.div9 { grid-area: 8 / 6 / 10 / 8; }
.div10 { grid-area: 11 / 10 / 13 / 13; }
.div11 { grid-area: 5 / 10 / 6 / 12; }
.div12 { grid-area: 1 / 12 / 3 / 13; }
.div13 { grid-area: 4 / 7 / 6 / 9; }
.div14 { grid-area: 12 / 5 / 13 / 6; }
.div15 { grid-area: 9 / 12 / 10 / 13; }
.div16 { grid-area: 4 / 1 / 6 / 2; }
.div17 { grid-area: 9 / 1 / 10 / 3; }

[class^="div"] {
  border-radius: 20px;
}